.wrapper{
	@include outer-container(960px);
	.row{
		@include outer-container;
		@for $i from 1 through 12 {
		    .col-#{$i} {
	           @include span-columns($i);
		    }
		}
	}
}
%clearfix {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
}
%reset{
	margin:0;
	padding:0;
}
%listreset {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul,p,body {
    @extend %listreset;
}
.block {
    @extend %clearfix;
}
ul {
    @extend %listreset;
}

